<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="mb-3">
    <%= form.label :title ,"题目", class: "form-lable",style:"color: burlywood;font-weight: bold;" %>
    <%= form.text_field :title,:cols=>10 %>
  </div>
 <div class="mb-3">
    <%= form.label :info ,"信息", class: "form-label",style:"color: burlywood;font-weight: bold;" %>
    <%= form.text_area :info, class: "form-control" %>
  </div>

 <div class="mb-3">
    <%= form.submit "创建", class: "btn", style:"background-color: burlywood;" %>
  </div>

<% end %>
