<p style="color: green"><%= notice %></p>
<div style="display: flex; flex-direction: row;gap: 100px">
<%= render @subject %>

<div>
  <h2 style="color: burlywood;">讨论区</h2>
  <div id="discussions">
    <%= render @subject.discussions %>
  </div>
  <%= form_with(model: [@subject,Discussion.new]) do |f|%>

  <div class="mb-3">
    <%= f.label :content,"新的讨论", class: "form-label",style:"color: burlywood;font-weight;" %>
    <%= f.text_area :content,  class: "form-control" %>
  </div>
    <div class="mb-3">
    <%=f.submit "添加讨论", class: "btn",style: "background-color:burlywood" %>
    </div>
  <% end %> 
</div>
</div>
