<br/>
<br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row gy-2 gx-3  align-items-center flex-column">
      <div class="col-auto">
      <div class="field">
        <%= f.label :signin,"学工号",class: "form-label",style:"  color: #D2691E;font-weight: bold;"%><br />
        <%= f.text_field :signin, autofocus: true, autocomplete: "signin",class:"form-control" %>
      </div>
    </div>
      <div class="col-auto">
        <%= f.label :password,"密码",class: "form-label",  style:"color: #D2691E;font-weight: bold;" %><br />
        <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="col-auto">
          <%= f.check_box :remember_me ,class: "form-check_box"%>
          <%= f.label :remember_me,"记住我",class: "form-label", style:"color: #D2691E;font-weight: bold;"%>
        </div>
      <% end %>
        <div class="col-auto">
          <div class="actions">
          <%= f.submit "登录" , class: "btn",style:"background-color:burlywood;"%>
      </div>
    </div>
</div>
<% end %>
<br/>
<div style="text-align:center;">
<%= render "devise/shared/links"%>
</div>
<br/>
