<div id="<%= dom_id discussion %>">
  <p>
    <strong>
      <%="#{discussion.user.num} #{discussion.user.name}"%>
      <%= time_ago_in_words(discussion.created_at) %>前:
      
    </strong><br/>
    <%= discussion.content %>
  </p>
</div>
<div>

  <%= button_to "删除该讨论",
  "/subjects/#{discussion.subject.id}/discussions/#{discussion.id}",
  method: :delete %>
</div>
